---
import App from './_App';
import GtagScript from '../../components/GtagScript.astro';

import { DESCRIPTION, TITLE } from "./_helper/config";
---

<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>{TITLE}</title>
  <meta name="description" content={DESCRIPTION}/>

  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <link rel="icon" href="/favicon.ico"/>

  <meta name="twitter:card" content="summary">
  <meta property="og:title" content={TITLE}>
  <meta property="og:description" content={DESCRIPTION}>

  <GtagScript/>
</head>
<body>
<main>
  <App client:visible/>
</main>
</body>
</html>
